<?xml version="1.0" ?>
<robot name="delivery_bot_v2" xmlns:gz="http://gazebosim.org/schema">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="9.52498e-10 -1.96407e-06 0.101783" rpy="0 0 0"/>
      <mass value="3.3"/>
      <inertia ixx="0.0130676" ixy="-3.77824e-10" ixz="2.95449e-10" iyy="0.0130272" iyz="-8.92886e-06" izz="0.00856171"/>
    </inertial>
    <!-- Part column_support -->
    <visual>
      <origin xyz="-0.0436286 0.084433 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0436286 0.084433 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_2 -->
    <visual>
      <origin xyz="-0.0513068 -0.08 0.006" rpy="-8.27181e-25 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0513068 -0.08 0.006" rpy="-8.27181e-25 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_3 -->
    <visual>
      <origin xyz="-0.0436286 0.084433 0.106" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0436286 0.084433 0.106" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part geared_dc_motor_with_encoder___ts_25ga370h -->
    <visual>
      <origin xyz="-9.71445e-17 -0.12125 -0.0195" rpy="8.09467e-16 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
      <material name="geared_dc_motor_with_encoder___ts_25ga370h_material">
        <color rgba="0.784314 0.784314 0.784314 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.71445e-17 -0.12125 -0.0195" rpy="8.09467e-16 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
    </collision>
    <!-- Part geared_dc_motor_with_encoder___ts_25ga370h_2 -->
    <visual>
      <origin xyz="-0.105006 0.060625 -0.0195" rpy="3.14159 1.65436e-24 1.0472"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
      <material name="geared_dc_motor_with_encoder___ts_25ga370h_2_material">
        <color rgba="0.784314 0.784314 0.784314 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.105006 0.060625 -0.0195" rpy="3.14159 1.65436e-24 1.0472"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_4 -->
    <visual>
      <origin xyz="0.0513068 -0.08 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0513068 -0.08 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_5 -->
    <visual>
      <origin xyz="-0.0949354 -0.00443297 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_5_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0949354 -0.00443297 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount -->
    <visual>
      <origin xyz="-1.11022e-16 -0.08 -1.38778e-17" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
      <material name="motor_mount_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.11022e-16 -0.08 -1.38778e-17" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part geared_dc_motor_with_encoder___ts_25ga370h_3 -->
    <visual>
      <origin xyz="0.105006 0.060625 -0.0195" rpy="3.14159 -3.08893e-17 -1.0472"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
      <material name="geared_dc_motor_with_encoder___ts_25ga370h_3_material">
        <color rgba="0.784314 0.784314 0.784314 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.105006 0.060625 -0.0195" rpy="3.14159 -3.08893e-17 -1.0472"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/geared_dc_motor_with_encoder___ts_25ga370h.stl"/>
      </geometry>
    </collision>
    <!-- Part middle_plate -->
    <visual>
      <origin xyz="3.1572e-16 -1.16573e-15 0.106" rpy="1.07716e-17 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/middle_plate.stl"/>
      </geometry>
      <material name="middle_plate_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.1572e-16 -1.16573e-15 0.106" rpy="1.07716e-17 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/middle_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_6 -->
    <visual>
      <origin xyz="-0.0949354 -0.00443297 0.006" rpy="-8.27181e-25 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_6_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0949354 -0.00443297 0.006" rpy="-8.27181e-25 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_7 -->
    <visual>
      <origin xyz="0.0949354 -0.00443297 0.006" rpy="2.48154e-24 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_7_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0949354 -0.00443297 0.006" rpy="2.48154e-24 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_8 -->
    <visual>
      <origin xyz="0.0513068 -0.08 0.106" rpy="3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_8_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0513068 -0.08 0.106" rpy="3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_9 -->
    <visual>
      <origin xyz="0.0949354 -0.00443297 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_9_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0949354 -0.00443297 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_10 -->
    <visual>
      <origin xyz="-0.0513068 -0.08 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_10_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0513068 -0.08 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0 -1.38778e-17 0" rpy="-1.07717e-17 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -1.38778e-17 0" rpy="-1.07717e-17 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/base_link.stl"/>
      </geometry>
    </collision>
    <!-- Part top_plate -->
    <visual>
      <origin xyz="3.71231e-16 -1.01308e-15 0.218" rpy="3.14159 4.31217e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/top_plate.stl"/>
      </geometry>
      <material name="top_plate_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.71231e-16 -1.01308e-15 0.218" rpy="3.14159 4.31217e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/top_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount_2 -->
    <visual>
      <origin xyz="-0.069282 0.04 0" rpy="3.14159 -1.65436e-24 -2.0944"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
      <material name="motor_mount_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.069282 0.04 0" rpy="3.14159 -1.65436e-24 -2.0944"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount_3 -->
    <visual>
      <origin xyz="0.069282 0.04 0" rpy="-3.14159 2.48154e-24 2.0944"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
      <material name="motor_mount_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.069282 0.04 0" rpy="-3.14159 2.48154e-24 2.0944"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/motor_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_11 -->
    <visual>
      <origin xyz="0.0436286 0.084433 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_11_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0436286 0.084433 0.212" rpy="-3.14159 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part column_support_12 -->
    <visual>
      <origin xyz="0.0436286 0.084433 0.006" rpy="2.48154e-24 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
      <material name="column_support_12_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0436286 0.084433 0.006" rpy="2.48154e-24 -4.31217e-17 4.53657e-18"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/column_support.stl"/>
      </geometry>
    </collision>
    <!-- Part part_8 -->
    <visual>
      <origin xyz="-0.0121949 0.0322049 0.2651" rpy="-2.74517 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
      <material name="part_8_material">
        <color rgba="0.776471 0.756863 0.737255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0121949 0.0322049 0.2651" rpy="-2.74517 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
    </collision>
    <!-- Part part_15 -->
    <visual>
      <origin xyz="-0.028 0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
      <material name="part_15_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.028 0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
    </collision>
    <!-- Part part_11 -->
    <visual>
      <origin xyz="-9.21832e-15 -0.0385 0.2271" rpy="-1.04314e-16 -1.81106e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_11.stl"/>
      </geometry>
      <material name="part_11_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.21832e-15 -0.0385 0.2271" rpy="-1.04314e-16 -1.81106e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_11.stl"/>
      </geometry>
    </collision>
    <!-- Part part_8_2 -->
    <visual>
      <origin xyz="-0.011 -0.0385 0.2489" rpy="1.53787 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
      <material name="part_8_2_material">
        <color rgba="0.776471 0.756863 0.737255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.011 -0.0385 0.2489" rpy="1.53787 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
    </collision>
    <!-- Part part_20 -->
    <visual>
      <origin xyz="-9.1871e-15 -0.0385 0.2476" rpy="1.66041e-16 -1.01728e-17 0.124422"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_20.stl"/>
      </geometry>
      <material name="part_20_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.1871e-15 -0.0385 0.2476" rpy="1.66041e-16 -1.01728e-17 0.124422"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_20.stl"/>
      </geometry>
    </collision>
    <!-- Part part_16 -->
    <visual>
      <origin xyz="0.02 -0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
      <material name="part_16_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.02 -0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
    </collision>
    <!-- Part part_16_2 -->
    <visual>
      <origin xyz="-0.02 -0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
      <material name="part_16_2_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.02 -0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
    </collision>
    <!-- Part part_15_2 -->
    <visual>
      <origin xyz="-0.02 -0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
      <material name="part_15_2_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.02 -0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="-9.15587e-15 0.007 0.2466" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.15587e-15 0.007 0.2466" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_2 -->
    <visual>
      <origin xyz="0.000111026 0.00693466 0.2621" rpy="3.14159 5.28757e-14 0.450629"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_1__2.stl"/>
      </geometry>
      <material name="part_1_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000111026 0.00693466 0.2621" rpy="3.14159 5.28757e-14 0.450629"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_1__2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_18 -->
    <visual>
      <origin xyz="-9.17669e-15 0.007 0.2276" rpy="3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_18.stl"/>
      </geometry>
      <material name="part_18_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.17669e-15 0.007 0.2276" rpy="3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_18.stl"/>
      </geometry>
    </collision>
    <!-- Part part_13 -->
    <visual>
      <origin xyz="0.000125 -0.0152 0.23475" rpy="-3.14159 -7.9343e-17 3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_13.stl"/>
      </geometry>
      <material name="part_13_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000125 -0.0152 0.23475" rpy="-3.14159 -7.9343e-17 3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_13.stl"/>
      </geometry>
    </collision>
    <!-- Part part_10 -->
    <visual>
      <origin xyz="0.000362495 -0.026 0.2218" rpy="1.5708 -4.38369e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_10.stl"/>
      </geometry>
      <material name="part_10_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000362495 -0.026 0.2218" rpy="1.5708 -4.38369e-17 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_10.stl"/>
      </geometry>
    </collision>
    <!-- Part part_8_3 -->
    <visual>
      <origin xyz="0.011 -0.0385 0.2489" rpy="1.53787 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
      <material name="part_8_3_material">
        <color rgba="0.776471 0.756863 0.737255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.011 -0.0385 0.2489" rpy="1.53787 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
    </collision>
    <!-- Part part_14 -->
    <visual>
      <origin xyz="-9.13852e-15 0.007 0.2356" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_14.stl"/>
      </geometry>
      <material name="part_14_material">
        <color rgba="0.486275 0.486275 0.486275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.13852e-15 0.007 0.2356" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_14.stl"/>
      </geometry>
    </collision>
    <!-- Part part_15_3 -->
    <visual>
      <origin xyz="0.02 -0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
      <material name="part_15_3_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.02 -0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
    </collision>
    <!-- Part part_16_3 -->
    <visual>
      <origin xyz="0.028 0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
      <material name="part_16_3_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.028 0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
    </collision>
    <!-- Part part_15_4 -->
    <visual>
      <origin xyz="0.028 0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
      <material name="part_15_4_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.028 0.035 0.2276" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_15.stl"/>
      </geometry>
    </collision>
    <!-- Part part_17 -->
    <visual>
      <origin xyz="-0.0271 0.007 0.226" rpy="1.17928e-16 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_17.stl"/>
      </geometry>
      <material name="part_17_material">
        <color rgba="0.909804 0.443137 0.0313725 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0271 0.007 0.226" rpy="1.17928e-16 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_17.stl"/>
      </geometry>
    </collision>
    <!-- Part part_12 -->
    <visual>
      <origin xyz="-9.25302e-15 -0.0385 0.2235" rpy="-1.72379e-16 3.15019e-17 -2.70799"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_12.stl"/>
      </geometry>
      <material name="part_12_material">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.25302e-15 -0.0385 0.2235" rpy="-1.72379e-16 3.15019e-17 -2.70799"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_12.stl"/>
      </geometry>
    </collision>
    <!-- Part part_6 -->
    <visual>
      <origin xyz="-9.16628e-15 0.007 0.2536" rpy="-9.52212e-14 4.53646e-14 0.445009"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_6.stl"/>
      </geometry>
      <material name="part_6_material">
        <color rgba="0.486275 0.486275 0.486275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.16628e-15 0.007 0.2536" rpy="-9.52212e-14 4.53646e-14 0.445009"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_6.stl"/>
      </geometry>
    </collision>
    <!-- Part part_8_4 -->
    <visual>
      <origin xyz="-0.00946882 -0.0193504 0.2651" rpy="-2.63865 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
      <material name="part_8_4_material">
        <color rgba="0.776471 0.756863 0.737255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00946882 -0.0193504 0.2651" rpy="-2.63865 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
    </collision>
    <!-- Part part_9 -->
    <visual>
      <origin xyz="-9.17669e-15 0.007 0.2366" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_9.stl"/>
      </geometry>
      <material name="part_9_material">
        <color rgba="0.0509804 0.615686 0.0509804 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.17669e-15 0.007 0.2366" rpy="4.31217e-17 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_9.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2 -->
    <visual>
      <origin xyz="-9.1871e-15 0.007 0.2496" rpy="-5.28757e-14 -8.49079e-14 -1.12017"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_2.stl"/>
      </geometry>
      <material name="part_2_material">
        <color rgba="0.25098 0.25098 0.25098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.1871e-15 0.007 0.2496" rpy="-5.28757e-14 -8.49079e-14 -1.12017"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_4 -->
    <visual>
      <origin xyz="-0.0201761 0.00977362 0.2616" rpy="3.14159 -1.36674 0.452838"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_4.stl"/>
      </geometry>
      <material name="part_4_material">
        <color rgba="0.0823529 0.0823529 0.0823529 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0201761 0.00977362 0.2616" rpy="3.14159 -1.36674 0.452838"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_4.stl"/>
      </geometry>
    </collision>
    <!-- Part part_16_4 -->
    <visual>
      <origin xyz="-0.028 0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
      <material name="part_16_4_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.028 0.035 0.226" rpy="-3.14159 4.30866e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_16.stl"/>
      </geometry>
    </collision>
    <!-- Part part_7 -->
    <visual>
      <origin xyz="-1.30194e-13 0.007 0.2715" rpy="3.14159 1.97322e-14 -2.69096"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_7.stl"/>
      </geometry>
      <material name="part_7_material">
        <color rgba="0.439216 0.439216 0.439216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.30194e-13 0.007 0.2715" rpy="3.14159 1.97322e-14 -2.69096"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_7.stl"/>
      </geometry>
    </collision>
    <!-- Part part_3 -->
    <visual>
      <origin xyz="0.000141965 0.00687055 0.2526" rpy="-7.13104e-14 4.51164e-14 0.452838"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_3.stl"/>
      </geometry>
      <material name="part_3_material">
        <color rgba="0.486275 0.486275 0.486275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000141965 0.00687055 0.2526" rpy="-7.13104e-14 4.51164e-14 0.452838"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_3.stl"/>
      </geometry>
    </collision>
    <!-- Part part_19 -->
    <visual>
      <origin xyz="-1.30156e-13 0.007 0.249786" rpy="1.5708 -9.41169e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_19.stl"/>
      </geometry>
      <material name="part_19_material">
        <color rgba="0.486275 0.486275 0.486275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.30156e-13 0.007 0.249786" rpy="1.5708 -9.41169e-17 -1.5708"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_19.stl"/>
      </geometry>
    </collision>
    <!-- Part part_5 -->
    <visual>
      <origin xyz="0.0250914 0.0125735 0.2626" rpy="4.06804e-14 -0.804343 -2.55696"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_5.stl"/>
      </geometry>
      <material name="part_5_material">
        <color rgba="0.909804 0.443137 0.0313725 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0250914 0.0125735 0.2626" rpy="4.06804e-14 -0.804343 -2.55696"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_5.stl"/>
      </geometry>
    </collision>
    <!-- Part part_8_5 -->
    <visual>
      <origin xyz="0.0265381 -0.00192909 0.2651" rpy="-2.63865 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
      <material name="part_8_5_material">
        <color rgba="0.776471 0.756863 0.737255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0265381 -0.00192909 0.2651" rpy="-2.63865 1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/part_8.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Frame lidarView (dummy link + fixed joint) -->
  <link name="lidarView">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="lidarView_frame" type="fixed">
    <origin xyz="0.000111026 0.00693466 0.1761" rpy="-8.49279e-14 5.29332e-14 0.450629"/>
    <parent link="base_link"/>
    <child link="lidarView"/>
    <axis xyz="0 0 0"/>
  </joint>
  


  <link name="omni_wheel_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.056156"/>
      <inertia ixx="9.9583306667e-06" ixy="0" ixz="0"
              iyy="9.9583306667e-06" iyz="0" izz="1.6172928e-05"/>
    </inertial>
    <visual>
      <origin xyz="-2.08167e-17 -1.38778e-17 0.0084" rpy="-1.5708 -1.66533e-16 -5.55112e-17"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
      <material name="omni_wheel_1_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.08167e-17 -1.38778e-17 0.0084" rpy="-1.5708 -1.66533e-16 -5.55112e-17"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to omni_wheel_1 -->
  <joint name="wheel1_joint" type="continuous">
    <origin xyz="0.105006 0.060625 -0.0194476" rpy="-1.5708 -0.909969 -1.0472"/>
    <parent link="base_link"/>
    <child link="omni_wheel_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="15" velocity="100"/>
    <dynamics damping="0.1" friction="0.05"/>
  </joint>




  <!-- Link omni_wheel_2 -->
  <link name="omni_wheel_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.056156"/>
      <inertia ixx="9.9583306667e-06" ixy="0" ixz="0"
              iyy="9.9583306667e-06" iyz="0" izz="1.6172928e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 1.38778e-17 0.0084" rpy="-1.5708 -1.38778e-16 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
      <material name="omni_wheel_2_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 1.38778e-17 0.0084" rpy="-1.5708 -1.38778e-16 0"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to omni_wheel_2 -->
  <joint name="wheel2_joint" type="continuous">
    <origin xyz="-0.105006 0.060625 -0.0194476" rpy="-1.5708 -1.02432 1.0472"/>
    <parent link="base_link"/>
    <child link="omni_wheel_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="15" velocity="100"/>
    <dynamics damping="0.1" friction="0.05"/>
  </joint>


  <!-- Link omni_wheel_3 -->
  <link name="omni_wheel_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.056156"/>
      <inertia ixx="9.9583306667e-06" ixy="0" ixz="0"
              iyy="9.9583306667e-06" iyz="0" izz="1.6172928e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 -0.0085" rpy="-1.5708 0 2.76948e-17"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
      <material name="omni_wheel_3_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0085" rpy="-1.5708 0 2.76948e-17"/>
      <geometry>
        <mesh filename="file://$(find my_robot_description)/models/delivery_bot_v2/meshes/omni_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to omni_wheel_3 -->
  <joint name="wheel3_joint" type="continuous">
    <origin xyz="-8.76556e-17 -0.12125 -0.0195524" rpy="-1.5708 -1.13542 -1.73571e-15"/>
    <parent link="base_link"/>
    <child link="omni_wheel_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="15" velocity="100"/>
    <dynamics damping="0.1" friction="0.05"/>
  </joint>

  <gazebo reference="omni_wheel_1">
    <mu>1.5</mu>
    <mu2>0.08</mu2>
    <slip1>0.005</slip1>
    <slip2>0.10</slip2>
    <fdir1>-0.5 0.866 0</fdir1>
  </gazebo>

  <gazebo reference="omni_wheel_2">
    <mu>1.5</mu>
    <mu2>0.08</mu2>
    <slip1>0.005</slip1>
    <slip2>0.10</slip2>
    <fdir1>-0.5 -0.866 0</fdir1>
  </gazebo>

  <gazebo reference="omni_wheel_3">
    <mu>1.5</mu>
    <mu2>0.08</mu2>
    <slip1>0.005</slip1>
    <slip2>0.10</slip2>
    <fdir1>1 0 0</fdir1>
  </gazebo>


  <!-- ROS2 Control for Harmonic - UPDATED -->
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>  <!-- Updated plugin name -->
    </hardware>
    <joint name="wheel1_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="wheel2_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="wheel3_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- Gazebo ROS2 Control Plugin for Harmonic - MAJOR CHANGES -->
  <gazebo>
     <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>/home/abanoub/delivery_bot_ws/src/delivery_bot_control/config/omni_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- LiDAR sensor - CORRECTED for Gazebo Harmonic -->
  <gazebo reference="lidarView">
    <sensor name="lidarView" type="gpu_lidar">
      <gz_frame_id>lidarView</gz_frame_id>
      <always_on>true</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
      <topic>/scan</topic>
      <plugin filename="libgz-sim-sensors-system.so" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
      <pose relative_to="lidarView">0 0 0 0 0 0</pose>
      <!-- plugin already included in world file -->
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.12</min>
          <max>6.0</max>
          <resolution>0.05</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo>

  <!-- IMU frame: no inertial on sensor link -->
  <link name="imu_link"/>
    
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="imu_link"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
  </joint>
  
  <!-- IMU sensor - CORRECTED for Gazebo Harmonic -->
  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
      <gz_frame_id>imu_link</gz_frame_id>
      <always_on>true</always_on>
      <update_rate>50.0</update_rate>
      <visualize>false</visualize>
      <topic>/imu</topic>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

</robot>